div{
    // border: 1px solid blue;
    width: 100%;
    max-width: 820px;
    margin: 0 auto;
    padding: 8px;
}

.form{
    display: flex;
    justify-content: space-between;

    padding: 12px;

    &__input, &__button{
        height: 36px;
    }

    &__input{
        width: 80%;
    }

    &__button{
        width: 20%;
    }
}

.img{
    width: 80%;
    border: 1px solid red;
    display: block;
    margin: 0 auto;
}